@{
    ViewBag.Title = "Home";
}

<div>
    <h1 style="text-align: center; font-family: Pylon; font-size: 100px;">POLYWARS</h1>
    <p style="text-align:center" class="lead">Poly Wars is a 2D MMO Shooter developed fully from scratch as a 3. Semester project by Group 0 from UCN</p>
</div>

<style>
    .row {
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        padding: 70px 0;
        border: 2px solid black;
        background-color: forestgreen;
        text-align: center;
        margin-top: 15vh;
    }
    .col-md-4{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    .col-md-4 p{
        margin-bottom: 2rem;
    }
    .col-md-4 .btn{
        margin-top: auto;
    }
</style>
<div class="row">
    <div class="col-md-4">
        <h2 style="text-align: center;">Download The Game</h2>
        <p style="text-align: center;">Try this amazing game by downloading it here</p>
        <a class="btn btn-default" href="https://github.com/TheRealKANi/3semesterProjekt/releases" target="_blank">Download &raquo;</a>
    </div>

    <div class="col-md-4">
        <h2 style="text-align: center;">Track your progression</h2>
        <p style="text-align: center;">Sign up to view your progression, as you play, and compete for the first place!</p>
        <a class="btn btn-default" href="https://polywars.azurewebsites.net/Account/Register">Sign up &raquo;</a>
    </div>
    <div class="col-md-4">
        <h2 style="text-align: center;">Leaderboard</h2>
        <p style="text-align: center;">Keep track on who gets the highest score, and beat them</p>
        <a class="btn btn-default" href="https://polywars.azurewebsites.net/Home/Leaderboard">View &raquo;</a>
    </div>
</div>
