@{
    ViewBag.Title = "TheTeam";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Thure Christensen <br />
    Irene Nathalie Emborg <br />
    Levente Huszti <br />
    Kenneth Holm Mørch <br />
</address>

<address>
    <strong>SourceCode</strong>   <a href="https://github.com/TheRealKANi/3semesterProjekt" target="_blank">GitHub</a>
</address>