<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWebClientService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5701/WebClientService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWebClientService"
                contract="PolyWarsWebClientService.IWebClientService" name="BasicHttpBinding_IWebClientService" />
        </client>
    </system.serviceModel>
</configuration>