<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFlipCaseService" />
                <binding name="BasicHttpBinding_IFlipCaseService1" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IFlipCaseService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IFlipCaseService">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IFlipCaseService1">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/Design_Time_Addresses/FlipCaseService/Service1/flipcase/wsAddress"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IFlipCaseService"
                contract="ServiceReferenceWCF.IFlipCaseService" name="WSHttpBinding_IFlipCaseService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/Design_Time_Addresses/FlipCaseService/Service1/flipcase/basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFlipCaseService"
                contract="ServiceReferenceWCF.IFlipCaseService" name="BasicHttpBinding_IFlipCaseService" />
            <endpoint address="http://localhost:8080/Design_Time_Addresses/FlipCaseService/Service1/flipcase/wsAddress"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IFlipCaseService1"
                contract="ServiceReferenceWCF.IFlipCaseService" name="WSHttpBinding_IFlipCaseService1">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/Design_Time_Addresses/FlipCaseService/Service1/flipcase/basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFlipCaseService1"
                contract="ServiceReferenceWCF.IFlipCaseService" name="BasicHttpBinding_IFlipCaseService1" />
            <endpoint address="net.tcp://localhost/FlipCaseNetTcp" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IFlipCaseService" contract="ServiceReferenceWCF.IFlipCaseService"
                name="NetTcpBinding_IFlipCaseService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>