<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFlipCaseService" />
                <binding name="BasicHttpBinding_IWebClientService" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IFlipCaseService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/Design_Time_Addresses/FlipCaseService/Service1/flipcase/wsAddress"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IFlipCaseService"
                contract="ServiceReferenceWCF.IFlipCaseService" name="WSHttpBinding_IFlipCaseService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/Design_Time_Addresses/FlipCaseService/Service1/flipcase/basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFlipCaseService"
                contract="ServiceReferenceWCF.IFlipCaseService" name="BasicHttpBinding_IFlipCaseService" />
            <endpoint address="http://localhost:5701/WebClientService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWebClientService"
                contract="ServiceReferenceWCF.IWebClientService" name="BasicHttpBinding_IWebClientService" />
        </client>
    </system.serviceModel>
</configuration>