@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Poly Wars</h1>
    <p class="lead">Poly Wars is a 2D MMO Shooter developed fully from scratch as a 3. Semester project by Group 0 from UCN</p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Download The Game</h2>
        <p>
            Try this amazing game by downloading it here
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Track your progression</h2>
        <p>Sign up to view your progression, as you play, and compete for the first place!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Leaderboard</h2>
        <p>Keep track on who gets the highest score, and beat them</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>